body {
        background-color: #515151;
        color: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       }
h1 {
    text-align: center;
    font-size: 12em;
}
p {
    text-align: center;
}
div {
    padding: 150px 100px 150px 150px;
    /* border: 5px solid whitesmoke; */
    background-color: #484848;
    width: 100%;
    height: 1000px;
    text-align: center;
}
div:hover{
    background-color: #303030;
}
img {
    width: 900px;
    height: 1100px;
    border-radius: 80em 80em 80em 80em;
    border: 2px solid whitesmoke;
    box-shadow: 10px 13px 15px 10px whitesmoke
}
img:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    -o-transform: rotate(360deg) scale(1.2);
    -ms-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
    background-color: snow;
  }
