html {
  margin: 50px, 50px, 50px, 50px;
}
header {
  background-color: white;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
}
.logo {
  position: fixed;
  top: 0;
  left: 0;
}
h1 {
  color: black;
  font-style: bold;
  font-size: 60px;
  display: flex;
  flex-shrink: 1;
}
body {
    background-color: lightgray;
    display: flex;
    flex-shrink: 1;
}
.lorem {
  display: flex;
  justify-content: flex-start;
}
/* img {
  display: inline; */
}
.image {
  display: inline-flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}
/* .lunch {
  display: flex;
  height: 800px;
  width: 600px;
}
.dinner {
  display: flex;
  height: 800px;
  width: 600px;
} */
 /* style="width:300px;height:100px;" align-left */
 .background {
   background: url("~/repeated-square.png");
   background-repeat: repeat;
 }
